.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 16rem;
    width: 16rem;
    gap: 10px;
}
.cell {
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    background-color: lightgray;
}

.active {
    background-color: lightblue;
}